@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.full{
    background: #FFFFFF;
    margin: 10px 20px 0px 20px;
}
.head{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #2D25A0;
    
}
.pic-banner img{
    width: 500px;
    height: 438px;
    transform: translatex(70px);

}
.heading{
    transform: translate(100px,80px);
    color: white;
    font-size: 25px;
}
.heading a{
    text-decoration: none;
    background: #E02C6D;
    color: white;
    padding: 20px;
}
.heading .arrow{
    transform: translatex(10px);
}
.first{
    width: 330px;
    height: 456px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.first img{
    width: 100%;
    
}
.first-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top:100px;
    margin-left: 100px;
}
.title{
    color: #18191F;
}
.description{
    color: #6C6C6C;
    font-size: 16px;
}
.last{
    display: flex;
}
.last img{
    width: 483.87px;
    height: 110px;
    margin: 8% auto;
}

.social img{
    width: 32px;
    height: 32px;
    transform: translatex(650px) translatey(-90px);
    margin-right: 10px;
   
}
.another{
    display: flex;
}
.another{
    justify-content: center;
    transform: translatey(-70px);
}

@media screen and (min-width: 400px) and (max-width: 780px) {
    .heading{
        width: 50%;
        text-align: center;
    }
    .pic-banner{
        width: 50%;
    }
    .head{
        background-color: red;
        grid-template-rows: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
  }
 

